.container_form_inscription{
    margin: 0 auto;
    position: relative;
    top: 10%;
    width: 80%;
    margin-top: 80px;

}

.container_form_inscription h1{
    margin-left: 135px;
}

.form_inscription{

    flex-wrap: wrap;
    padding: 2% 4%;
    border: none;
    background: #fff;
    box-shadow: none;
}

.container_form_inscription h1{
    font-size: 35px;
}

.form_inscription table{
    margin: 0 auto;
}
td{
    padding: 8px 30px 0px 30px;
    width: 50%;
    height: 85px;
}
.container_form_inscription input{
    width: 100%;
}

#submit{
    width: 60%;
    margin: 20px 20%;
}
