
button{
    border: none;
    border-radius: 4px;
}




/*zone du milieu*/
.zone2 {
    background: url("/public/images/avion.png") no-repeat;
    background-size: 100%;
    margin-top: 70px;
    height: 65vh;
    min-width: 687px;
    min-height: 400px;
    display: flex;
}
.block {
    width: 60%;
    min-width: 600px;
    min-height: 130px;
    height: 40%;
    flex-direction: column;
    left: 20%;
    font-size: x-large;
    padding-bottom: 1% ;
    margin: auto;
    margin-top: 240px;
}
/*slogan*/
.slogan{
    width: 80%;
    min-width: 600px;
    height: 70px;
    top :10%;
    font-weight: bold;
    margin: auto;
}
.tab_slogan td{
    max-height: 85%;
    height: 50px;
    line-height: 0px;
}

.point{
    color: #da7f23;
    font-size: 50% ;
}

.sloganBleuCiel{
    font-size: 90%;
    color: #58b4d4;
}

.sloganBleuMarine{
    font-size: 90%;
    color : #23445c;
}
/* zone connexion / inscription */
.inscription_connecter{
    width: 100%;
    min-width: 350px;
    height: 80px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin: auto;
}
#table_inscription_connexion td{
    height: 50px;
}
.inscription{
    height: 35px;
    width: 120px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #FF8802;
    margin-right: 5%;
}
.seConnecter {
    height:  35px;
    width: 120px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: large;
    color: black;
    background-color: transparent;
}

.boutonInscriptionPosition{
    text-align: right;
}

.seConnecterPosition{
    text-align: left;
}

/*zone du bas*/
.zone3{
    height: 45vh;
    min-width: 550px;
    margin:0;
    position : relative;
}

.ImageBas{
    min-height: 70px;
    min-width: 20px;
    width: 100%;
    height: 80%;
    max-width: 800px;
    max-height: 200px;
    margin: auto;
}


