.wrapperGeneralAvancement{
    background-color: #ffc583;
    padding: 10%;
    height: 100vh;
}

.wrapperAvancement{
    height: 100px;
    width: 100%;
    display: flex;
}

#etape1{
    border: solid;
    margin-top: 180px;
}

#etape2{
    border: solid;
    margin-top: 50px;
}
#etape3{
    border: solid;
    margin-top: 50px;
}

.buttonAvancement{
    border-radius: 9999px;
    background-color: white;
    border: solid #FF8802;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 5px black;
}

.buttonAvancement2{
    border-radius: 9999px;
    background-color: white;
    border: solid #FF8802;
    height: 20px;
    width: 30px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 0;
    box-shadow: 5px black;
}

.logoAvancementGood{
    color: #FF8802;
    background-color: white;
    border-radius: 999999px;
}

.logoAvancementGood2{
    width: 100%;
    height: 100%;
    color: #FF8802;
    margin: 0;
}

.icon3points{
    color: #FF8802;
}