

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_orange{
    background-color: #FF8802;
    color: white;
    border-radius: 5px;
}

button{
    cursor: pointer;
}

/*nav bar*/
.zone_navBar{
    height: 70px;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 90;
}

/*input*/
input[type=email], input[type=password], input[type=text],input[type = date], input[type = tel]{
    width: 60%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #63B7E7, 0 2px 2px 0 #63B7E7;
    border-radius: 5px;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=date]:focus, input[type=tel]:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 15px 0 #559cc6, 0 2px 2px 0 #559cc6;
    margin: 12px 0;
}

.annonces_div_general{
    height: 150px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 15px 0 #999999, 0 2px 2px 0 #9a9a9a;
    margin-bottom: 15px;
}

.contour_bleu{
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #63B7E7, 0 2px 2px 0 #63B7E7;
    border-radius: 5px;
}

.boutonSuivant{
    height: 45px;
    width: 80px;
    margin-left: 5%;
    border-radius: 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: none;
}

.boutonPrecedent{
    height: 45px;
    width: 80px;
    margin-left: 40%;
    border-radius: 24px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=submit]:hover {
    background-color: white;
    color: #FF8802;
    border: 1px solid #FF8802;
    transition: 150ms;
    cursor: pointer;
}
/* bouton achatetvoyage & mes annonces */
.bouton_logo{
    border-radius: 50%;
    color: #fcfcfc;
    background-color: #035583;
}
.bouton_logo_petit{
    border-radius: 50%;
    color: #fcfcfc;
    background-color: #035583;
    font-size: x-small;
    padding-top: 3px;
    padding-bottom: 4px;
}
/* titre sous partie mes annonces */
.titre_element_annonces{
    margin-top: 10px;
    line-height: 10px;
    margin-bottom: 10px;

}