/*partie description */
.div_description{
    width: 52%;
    min-width: 180px;
    padding-left: 10px;
}

#titre{
    font-size: large;
    line-height: 5px;
}

#titre:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #FFAA5E;
}

#titre:active{
    color: #ff973c;
}

.photoDescriptionAnnonce{
    margin-top: 6px;
    margin-right: 4px;
}

#spanProfilUserAnnonce{
    margin-bottom: 10px;
    font-size: x-small;
}

#spanProfilUserAnnonce:hover{
    cursor: pointer;
    text-decoration: underline;
}

#spanProfilUserAnnonce:active{
    color: #3A5984;
}

.text_lieu{
    line-height: 1px;
}

.text_lieu i{
    font-size: small;
}
#description{
    line-height: 2px;
    font-size: small;
}
#profil{
    font-size: xx-small;
    line-height: 1px;
}