/* partie photo*/
.div_photo{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: url("/public/images/ordi.png") no-repeat;
    background-size: 100%;
}
.boutons_photo{
    background-color: #FF8802;
    color: white;
    border-radius: 10px;
    margin-top: 75% ;
    margin-left: 10%;
    height: 20px;
    width: 55px;
    border: none;

}
.annonces_urgentes{
    background-color: #FF8802;
    color: white;
    border-radius: 10px;
    margin-top: 70% ;
    margin-left: 5%;
    height: 20px;
    width: 55px;
    border: none;
}

/* style global popup*/
/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    min-width: 700px;
    min-height: 800px;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 650px;
    margin: 0 auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.close-icon {
    cursor: pointer;
    position: fixed;
    right: calc(50% - 325px - 27px);
    top: calc(100vh - 85vh - 31px);
    background: #ededed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 17px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

/* popup*/

#divAcheteur1, #divVoyageur1{
    height: 120px;
    width: 90%;
    min-width: 620px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #63B7E7, 0 2px 2px 0 #63B7E7;
    border-radius: 5px;
}

#titreproduit{
    display:block;
    margin-left: 10px;
    text-align: left;
    font-size: x-large;
}

#texteAcheminement{
    display:block;
    margin-left: 10px;
    text-align: left;
}

#texteparenthése{
    font-size: small;
}
.divImageGauche{
    font-size: small;
    color: #3e5b71;
    margin-top: 20px;
    width: 50px;
}
.divTextDetail{
    font-size: small;
    color: #3e5b71;
    width: 210px;
    padding-left: 10px;
}

#textVoyageur{
    padding-top: 15px;
}

.divtextBig{
    margin: 0;
    padding: 0;
    color: #23445c;
    font-size: x-large;
    line-height:25px;
}

.divCoutProduit{
    padding-left: 20px;
    width: 180px;
    padding: 0;
    color: #23445c;
    font-size: small;
    text-align: left;
}

.divContrepartie1{
    width: 130px;
    margin: 0;
    padding-left: 10px;
    text-align: left;
    border-left: dashed  #23445c;
}

.divVoyage{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

#divDetailV{
    width: 400px;
}

#divPaysDepat{
    width: 250px;
    padding-top: 20px;
}
#divPaysArrive{
    width: 350px;
    padding-top: 20px;
}

#divfleche{
    padding: 0px;
    margin: 0px;
    height: 60px;
    line-height: 0px;
}

.divTextContrepartie{
    font-size: small;
    color: #3e5b71;
    width: 110px;
}

.prixC{
    text-align: right;
    padding-right: 10px;
}

.divTot{
    height: 70px;
    width: 90%;
    min-width: 620px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 #63B7E7, 0 2px 2px 0 #63B7E7;
    border-radius: 5px;
}

.divClicked{
    outline: none;
    box-shadow: 0 0 15px 0 #559cc6, 0 2px 2px 0 #559cc6;
    background-color: #def1ff;
    margin: 12px 0;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#divTotPrix {
    margin-left: 230px;
    margin-top: 20px;
}
.prixTot{
    font-size: xx-large;
}
.textTot{
    font-size: small;
    color: #3e5b71;
    width: 260px;
    margin-left: 10px;
}
.textBig{
    margin: 0px;
    padding-top:  10px;
    padding-left: 20px;
    color: #23445c;
    font-size: x-large;
    line-height:20px;
    text-align: left;
}

.divRadioBouton1{
    text-align: left;
    padding-left: 10px;
    color: #23445c;
}






