#div_body_admin{
    margin-top: 70px;
}

.div_validationCarte{
    margin: auto;
    width: 590px;
}

#validation{
    display: flex;
}

.div_validationAnnonce{
    margin-left: 20px;
    padding-left: 20px;
    width: 500px;
    border-left: solid;
}

.div_menu{
    height: 60px;
    display: flex;
    padding-bottom: 10px;
}

.boutonMenu{
    width: 400px;
    margin: auto;
}

.boutonMenu:hover{
    background-color: #ffbb6e;
    color: white;
}
