
/* PARTIE : photo + nom */
.div_photo_nom{
    background: url("/public/images/valise_fermé.png") no-repeat;
    background-size: 100%;
    margin-top: 70px;
    height: 250px;
    min-width: 920px;
    color: #ebebeb;
    padding-left: 10px ;
}
.text{
    line-height: 2px;
}

/* PARTIE : input de recherche géneral*/
.div_recherche{
    height: 100px;
    min-width: 990px;
    display: flex;
    padding-left: 20px;
}

#boutonChercher{
    margin-top: 30px;
    margin-left: 20px;
}

.conteneur_input_annonces{
    color: #FF8802;
    margin-top: 25px;
    margin-left: 30px;
    padding-top: 5px;
    height: 57px;
    width: 300px;
    min-width: 300px;
    padding-left: 10px;
    display: flex;
}

.p_titre{
    margin-top: 3px;
}


/* input bar de recherche  */
.input_annonces{
    width: 150px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: none;
    border: none;
    margin-left: 15px;
    margin-top: 0px;
}

.div_recherche .input_annonces:focus{
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 15px;
    margin-top: 10px;
}

/* PARTIE : reste de la page */
.div_annonces_produit{
    min-width: 620px;
    display: flex;

}
/* SOUS-PARTIE : choix multiple affiner la recherche*/
.div_affiner_recherhce{
    padding-left: 20px;
    width: 18%;
    min-width: 200px;
    height: 350px;
}
.titre_recherche_gauche{
    line-height : 0px;
}
.table_recherche{
    color: black;
}
.table_recherche td{
    height: 15px;
}
.input_number{
    width: 40px;
    border-radius: 5px;
}
.checkbox_input{
    margin-left: 10px;
}
/* SOUS-PARTIE : listes des Annonces */
/* Annonces normals */
.div_annonces_lamda{
    margin-top: 20px;
    width: 48%;
    min-height: 500px;
    min-width: 550px;
    padding: 8px;
}

/* Annonces urgentes*/
.div_annonces_urgentes{
    width: 30%;
    min_width: 390px;
    min-height: 500px;
}
#titre_A_urgentes{
    line-height: 1px;
    width: 90px;
    margin-top: 4px;
    margin-left: 15px;
}

#div_annonces_u_border{
    border-left: solid;
    padding-left: 10px;
}
