
.div_general{
    border-radius: 15px;
    box-shadow: 0 0 15px 0 #999999, 0 2px 2px 0 #9a9a9a;
    margin-bottom: 15px;
    height: 270px;
    padding: 15px;
}

.div_img{
    height: 180px;
    display: flex;
}

img_id{
    width: 130px ;
    height: 150px;
}

.boutonOK{
    background-color: #FF8802;
    color: white;
    font-size: large;
    border-radius: 30px;
    height: 40px;
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
}

.boutonRefuser{
    background-color: #727171;
    color: #e5e1e1;
    font-size: large;
    border-radius: 30px;
    height: 40px;
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
}