.pageCreeruneAnnonce2{
    display: flex;
}

#wrapperPageCreationAnnonce2{
    padding-top: 90px;
    width: 80%;
    min-width: 850px;
}

#wrapperPageCreationAnnonce2 h1{
    margin-left: 8%;
}

#sousWrapperPageCreationAnnonce2{
    margin-bottom: 20px;
}

#wrapperPageCreationAnnonce2 label{
    font-weight: bold;
}

#divPrixDevise{
    height: 120px;
    width: 80%;
    margin-top: 10px;
    margin-left: 12%;
    padding: 5px;
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
}

#divPrixDevise input{
    margin-top: 12px;
}

#divPrixDevise select:focus{
    margin-left: 0;
}

#divDevise{
    width: 30%;
    margin-left: 10%;
}

#divPrix{
    width: 30%;
    min-width: 230px;
}

#divDegImportance{
    width: 30%;
}

#acheminementProduit{
    margin-top: 10px;
    min-width: 600px;
}

#acheminementProduit label{
    margin-left: 20%;
    font-size: 22px;
    min-width: 400px;
}

#acheminementProduit label span{
    font-size: 12px;
}

#divAcheteur, #divVoyageur{
    height: 140px;
    min-height: 120px;
    width: 60%;
    min-width: 620px;
    margin-left: 20%;
    margin-top: 25px;
    display: flex;
    padding: 0;
    cursor: pointer;
    
}

#divVoyageur{
    margin-top: 40px;
}

.divImageGauche{
    width: 10%;
    margin-right: 5px;
}

.divDetail{
    width: 70%;
    min-width: 370px;
    border-right: dashed;
    padding: 10px;
}

.divContrepartie{
    padding: 10px;
    width: 20%;
}

.divPrixContrepartie{
    font-weight: bold;
    font-size: 38px;
    margin-left: 20px;
    
    margin-top: 15%;
}

.divPaysDetail{
    font-weight: bold;
    font-size: 38px;
    margin-left: 10%;
    margin-top: 1.5%;
}

.divPaysDetail2{
    font-weight: bold;
    font-size: 22px;
    margin-left: 6%;
    display: flex;
}

.logo_fleche{
    margin-top: 40px;
    margin-right: 10px;
}

#PpaysDepart{
    margin-right: 10px;
}

.logoImageGauche1{
    margin-top: 45%;
    margin-left: 25%;
    font-size: 40px;
}

.logoImageGauche2{
    margin-top: 45%;
    margin-left: 20%;
    font-size: 40px;
}

.divClicked{
    outline: none;
    box-shadow: 0 0 15px 0 #559cc6, 0 2px 2px 0 #559cc6;
    margin: 12px 0;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#avancement2{
    min-width: 250px;
    width: 325px;
}